<article class="snap-card" id="tomorrow-top-matches">
  <div class="snap-head">
    <h3>Tomorrow&rsquo;s Top Matches</h3>
    <a class="snap-link" href="/sports/tomorrow/">View all</a>
  </div>
  <ul class="match-list" data-tomorrow-matches>
    <li class="match-row" data-sport="football">
      <div class="mr-top"><span class="sport-ic">&#9917;</span><span class="mr-league">UEFA Champions League</span><span class="mr-time"><b>21:00</b>Tomorrow</span></div>
      <div class="mr-teams">
        <span class="mr-team"><span class="mr-logo">&#9917;</span>Real Madrid</span>
        <span class="mr-team away"><span class="mr-logo">&#9917;</span>Man City</span>
      </div>
      <div class="mr-bar"><i class="home" style="width:56%"></i><i class="draw" style="width:22%"></i><i class="away" style="width:22%"></i></div>
      <div class="mr-pcts"><span class="home">56%</span><span class="draw">DRAW 22%</span><span class="away">22%</span></div>
    </li>
    <li class="match-row" data-sport="basketball">
      <div class="mr-top"><span class="sport-ic">&#127936;</span><span class="mr-league">NBA Finals</span><span class="mr-time"><b>08:30</b>Tomorrow</span></div>
      <div class="mr-teams">
        <span class="mr-team"><span class="mr-logo">&#127936;</span>Lakers</span>
        <span class="mr-team away"><span class="mr-logo">&#127936;</span>Celtics</span>
      </div>
      <div class="mr-bar"><i class="home" style="width:48%"></i><i class="draw" style="width:20%"></i><i class="away" style="width:32%"></i></div>
      <div class="mr-pcts"><span class="home">48%</span><span class="draw">DRAW 20%</span><span class="away">32%</span></div>
    </li>
    <li class="match-row" data-sport="tennis">
      <div class="mr-top"><span class="sport-ic">&#127934;</span><span class="mr-league">Wimbledon Men&rsquo;s SF</span><span class="mr-time"><b>15:00</b>Tomorrow</span></div>
      <div class="mr-teams">
        <span class="mr-team"><span class="mr-logo">&#127934;</span>Jannik Sinner</span>
        <span class="mr-team away"><span class="mr-logo">&#127934;</span>Carlos Alcaraz</span>
      </div>
      <div class="mr-bar"><i class="home" style="width:44%"></i><i class="draw" style="width:16%"></i><i class="away" style="width:40%"></i></div>
      <div class="mr-pcts"><span class="home">44%</span><span class="draw">DRAW 16%</span><span class="away">40%</span></div>
    </li>
    <li class="match-row" data-sport="cricket">
      <div class="mr-top"><span class="sport-ic">&#127951;</span><span class="mr-league">ICC Test Championship</span><span class="mr-time"><b>10:00</b>Tomorrow</span></div>
      <div class="mr-teams">
        <span class="mr-team"><span class="mr-logo">&#127951;</span>India</span>
        <span class="mr-team away"><span class="mr-logo">&#127951;</span>Australia</span>
      </div>
      <div class="mr-bar"><i class="home" style="width:41%"></i><i class="draw" style="width:18%"></i><i class="away" style="width:41%"></i></div>
      <div class="mr-pcts"><span class="home">41%</span><span class="draw">DRAW 18%</span><span class="away">41%</span></div>
    </li>
  </ul>
</article>
